/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #184e46;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    margin-top: 10px;
}

.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /* padding: 5px 10px; */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #00796b;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h1 {
    color: #004d40;
    font-size: 28px;
    margin-bottom: 20px;
}

.container h2 {
    color: #004d40;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container ul li {
    background-color: #e0f2f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container a {
    display: inline-block;
    background-color: #004d40;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.container a:hover {
    background-color: #00796b;
}